/* --- COLORS --- */
$preto: #000;
$preto2: #2c0d1d;
$branco: #fff;

$cinza: #4d4d4d;
$cinza2: #363634;
$cinza3: #d0cdca;
$cinza4: #838381;
$cinza5: #e7e6e6;
$cinza6: #dedede;
$cinza7: #c8c7c7;
$cinza8: #9d9c9c;
$cinza9: #c1c1c1;
$cinza10: #e1e1e1;
$cinza11: #ebe8e3;
$cinza12: #dbd4cc;
$cinza13: #757472;
$cinza14: #f5f5f5;
$cinza15: #cacaca;
$cinza16: #999;
$cinza17: #f5f4f4;
$cinza18: #a6a6a6;
$cinza19: #bfbdbd;
$cinza20: #e5e2e2;
$cinza21: #f8f7f7;
$cinza22: #7c7c7c;
$cinza23: #f3eff0;
$cinza24: #e6e2e3;
$cinza25: #cdcdcd;
$cinza26: #f8f6f7;
$cinza27: #cfcdce;
$cinza28: #f1f1f1;
$cinza29: #a3a3a3;

$azul: #00486e;
$azul2: #00ceff;

$rosa: #ea288c;
$rosa2: #b51f72;
$rosa3: #be066c;
$rosa4: #f061ab;

$roxo: #7a23cc;
$roxo2: #7a24cd;
$roxo3: #9f2bfe;

$vermelho: #c31432;
$vermelho2: #c0392b;
$vermelho3: #e74c3c;


$verde: #00958d;
$verde2: #00d318;

$laranja: #ff6c00;
$laranja2: #fe6b02;
$laranja3: #fe6606;
$laranja4: #ff6d00;

$amarelo: #fed100;
$amarelo2: #ffff00;
