//- *** configurações do projeto ***
//- site responsivo?
- var responsivo = true;

//- componentes?
- var fancyBox = true;
- var bxSlider = true;
- var pictureFill = true;
- var deviceJs = true;
- var masonry = true;
- var isJs = true;
- var mask = true;

//- objeto/array para menu e listas.
- var menuMidias = {"tw":"twitter","fb":"facebook","yt":"youtube","ig":"instagran"}

//- sidebar?
- var sidebar = true;